th {
    font-size: 14px;
}
td {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    font-size: 14px;
}
table{
    margin: 0 auto;
    width: 100%;
    clear: both;
    border-collapse: collapse;
    table-layout: fixed;
    word-wrap:break-word;
  }